{
	"domains": {
		"localhost": "app"
	},

	"info": {
		"name": "Chatcomu",
		"description": "Chat de la comunidad informatica."
	},

	"mongodb": {
		"db": "chatcomu",
		"host": "localhost",
		"password": null,
		"port": null,
		"url": "mongodb://localhost/chatcomu",
		"user": null
	},

	"redisdb": {
		"db": "mensajes",
		"host": "localhost",
		"password": null,
		"port": null,
		"url": "redis://localhost",
		"user": null
	},

	"twitter": {
		"consumerKey": "XXXXXXXX",
		"consumerSecret": "XXXXXXXX",
		"callbackURL": "http://localhost:8080/auth/twitter/callback",
		"hashtag": "#Autodidactas",
		"username": "@username"
	},

	"facebook": {
		"clientID": "XXXXXXXX",
		"clientSecret": "XXXXXXXX",
		"callbackURL": "http://localhost:8080/auth/facebook/callback",
		"permissions": "status_update"
	}
}